* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.box-border {
    position: relative;
    background-color: #F0F8FF;
    width: 270px;
    height: 270px;
    border: 2px solid black;
    margin: 10px;
}

.input-border-radius {
    border: 1px solid;
    border-radius: 3px;
}